body {
    font-family: sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background: white;
    padding: 20px 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    width: 300px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 span, .roles span {
    color: #324a93;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-size: 14px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .roles {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background: #324a93;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #324a93;
  }
  